<div class="row">
    <div class="col-md-4">
        {% block col_1 %}

        {% endblock %}
    </div>
    <div class="col-md-4">
        {% block col_2 %}

        {% endblock %}
    </div>
    <div class="col-md-4">
        {% block col_3 %}

        {% endblock %}
    </div>
</div>